body{
background-color: #B2CD9C;
}

.container{
  max-width: 1400px;
  margin: 0 auto;
  text-align: left;
  padding: 15px;
  background-color: #ffff;
}

header{
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6))
  ,url("../images/PyramidofKukulcan.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

.container2{
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0; 
}

.container2 h2{
  font-style: italic;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.map{
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0; 
  text-align: center;

  background-color: #f8f8f8 ;
}

.map p{
  margin: 20px;
  padding: 50px 25px;
  font-size: 25px;
}

.map h1{
  margin: 20px;
  padding: 25px 15px;
}

.embed{
  width: 100%;
  aspect-ratio: 1/1;
}



button{
font-weight: 700;
font-size: 14px;
line-height: 21px;
text-align: center;
letter-spacing: 3px;
text-transform: uppercase;
padding: 16px;
gap: 10px;
background: #B2CD9C;
color: #FFFFFF;
border: #B2CD9C;
}

button a{
  color: #FFFFFF;
  text-decoration: none;
}

button:hover{
  background:#ffff;
  color:#B2CD9C;
}

button a:hover{
  background:#ffff;
  color:#B2CD9C;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  grid-gap: 64px;
}

.gallery{
  grid-row: 1fr 1fr 1fr;
}

.instagram-embeds{
  margin:30px 0;
}

.text-center{
  text-align: center;
  font-size: 75px;
}

footer{
  background-image: linear-gradient(rgba(43, 86, 48, 0.9),rgba(116, 167, 131, 0.9) ), url("../images/walloffaces.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: blanchedalmond;
  padding: 70px 30px;
}

footer a{
  color: blanchedalmond;
  text-decoration: none;

}

footer a:hover{
  color: blanchedalmond;
  text-decoration: underline;
}

.designed{
  text-align: center;
  opacity: 40%;
  padding: 25px;
}


@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  
  }

  header h2 { 
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  main h3{
    font-size: 20px;
  }

  .grid-3-columns{
    grid-template-columns: 1fr;
    grid-gap: 32px;

  }


  section{
    padding: 30px;
  }
}